<header>
    <div class="container">
        <input type="checkbox" name="" id="check">
        
        <div class="logo-container">
            <img class="logo-icon" src="/images/favicon.png"/>
            <h1 class="logo">{{.Site.Params.Brand}}</h1>

            {{- if .Site.Params.Subbrand}}  
            <pre>  </pre>| <pre>  </pre>
            <span> {{.Site.Params.Subbrand}}</span>
            {{- end}}
        </div>

        
        <div class="nav-btn">
            <div class="nav-links">
                {{- with .Site.Menus.shotcuts}}
                <ul>

                    {{- range sort . "Weight"}}

                    {{ if .HasChildren }}
                    <li class="nav-link" style="--i: .6s">
                        <a href="{{.URL}}" {{if eq $.Site.Params.menushortcutsnewtab true}}target="_blank"{{end}} rel="noopener">
                          {{safeHTML .Name}} <i class="fas fa-caret-down"></i>
                        </a>

                        <div class="dropdown">
                            <ul>
                                {{ range .Children }}
                                <li class="dropdown-link">
                                    <a href="{{ .URL }}">{{ .Name }} <i class="fas fa-caret-down"></i> </a>
                                    
                                {{ if .HasChildren }}
                                <div class="dropdown second">
                                    <ul>
                                        {{ range .Children }}
                                        <li class="dropdown-link">
                                            <a href="{{ .URL }}">{{ .Name }} <i class="fas fa-caret-down"></i></a>
                                        </li>
                                        {{ end }}
                                        <div class="arrow"></div>
                                    </ul>
                                </div>
                                {{ end }}   

                                </li>
                                {{ end }}    
                                <div class="arrow"></div>
                            </ul>
                        </div>
                    </li>

                    {{ else }}

                    <li class="nav-link" style="--i: .6s">
                        <a href="{{.URL}}" {{if eq $.Site.Params.menushortcutsnewtab true}}target="_blank"{{end}} rel="noopener">
                          {{safeHTML .Name}}
                        </a>
                    </li>
                    {{end}}

                    {{- end}}
                   

                </ul>
                {{- end}}
            </div>            
        </div>


        <div class="hamburger-menu-container">
            <div class="hamburger-menu">
                <div></div>
            </div>
        </div>
    </div>
</header>

