<main>
    <div class="container">

        <div class="main-nav">            
            <h3> Tree </h3>
            {{ partial "main-nav" . }}
        </div>

        <div class="main-article">

            <div>
                {{.Content}}
            </div>

        </div>


        <div class="main-toc">
            <h3> In this article</h3>

            {{if or (in .Params.layouts "toc") (.Site.Params.alwaysTOC)}}
            {{ .TableOfContents }}
            {{end -}} 

        </div>


    </div>
</main>